.Authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow-x: hidden;
}

.Container {
  display: flex;
  border-radius: 15px;
  width: 60%;
  box-shadow: 0px 8px 12px 0px rgba(66, 68, 90, 1);
  overflow: hidden;
}
.login-img img {
  height: 530px;
  width: 100%;
  object-fit: cover;
}

.Signup-img img {
  height: 105%;
  width: 100%;
  object-fit: cover;
}

.form-container {
  background-color: #fff;
  padding: 2rem 3rem;
  width: 60%;
}

.form-container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgb(0, 212, 255, 1);
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container div {
  display: flex;
  flex-direction: column;
}

.form-container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.select {
  margin-top: 12px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
}

 .Auth-btn span {
    margin-top: 9px;
  }

.link {
  text-decoration: none;
}

.form-container button {
  border: none;
  background-color: rgb(0, 212, 255, 1);
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* loginRemainder styling */

.loginRemainder-btn {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.loginRemainder-btn button {
  border: none;
  padding: 12px, 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.btn-1 {
  background-color: #007bff;
  color: white;
}

.btn-2 {
  background-color: "#ddd";
}

/* responsive */

@media (max-width: 600px) {
  .Authentication {
    padding: 10vw 6vw;
  }

  .Container {
    width: auto;
    display: block;
  }

  .login-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .form-container {
    margin-top: 0;
    width: 100%;
  }

}

@media (min-width: 600px) and (max-width: 900px) {
  .Authentication {
    padding: 50px;
  }

  .Container {
    flex-direction: column;
    width: 80%;
  }

  .login-img img {
    height: 65vw;
    width: 100%;
    object-fit: cover;
  }

  .form-container {
    margin-top: 0;
    width: 100%;
  }

  .Auth-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Auth-btn button {
    width: 70%;
  }

}

@media (min-width: 900px) and (max-width: 1200px) {
  .Authentication {
    padding: 50px;
  }

  .Container {
    flex-direction: column;
    width: 70%;
  }

  .login-img img {
    height: 65vw;
    width: 100%;
    object-fit: cover;
  }

  .form-container {
    margin-top: 0;
    width: 100%;
  }

  .Auth-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Auth-btn button {
    width: 70%;
  }

}
