/* .Ybutton {
  margin-top: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #10192c;
  color: white;

} */

.youtube {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.youtube h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222;
}

.Ybutton {
  margin-top: 25px;
  padding: 12px 20px;
  background: #10192c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.Ybutton:hover {
  background: #252b3b;
}

