.youtube-container {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 20px;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Ybutton {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background-color: #232b3d;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.Ybutton:hover {
  background-color: #1f2533;
}


@media (max-width: 600px) {
  .Ybutton {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .Ybutton {
    font-size: 15px;
    padding: 11px 22px;
  }
  
}
