.adminDashboard h2 {
  text-align: center;
  margin-top: 1.5vw;
}

.adimincourseNavbar {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid #9696ea;
}

.adimincourseNavbar button {
  all: unset;
  border: 1px solid transparent;
  color: #6b7280;
  background-color: transparent;
  font-size: 1.2vw;
  font-weight: 800;
  white-space: nowrap;
  position: relative;
}

.adimincourseNavbar button:hover {
  border-bottom: 1px solid #494848;
}

.adimincourseNavbar button.active {
  color: #4f46e5;
}

.admincourseNavbar button.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #5851e3;
  border-radius: 0px;
}

@media (max-width: 600px) {
  .adimincourseNavbar button {
    font-size: 3vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .adimincourseNavbar button {
    font-size: 2.2vw;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .adimincourseNavbar button {
    font-size: 2vw;
  }
}
