
.navbardiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(218, 218, 228);
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.nav-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}


.nav-items {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 25px;
}


.navlink {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}


.logout-btn {
  background-color: #ff7675;
  color: #000;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #e05c5b;
  color: white;
}


.nav-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav-toggle {
    display: block;
    margin-left: auto;
  }

  .nav-items {
    position: absolute;
    top: 65px;
    right: 10px;
    background: rgb(218, 218, 228);
    width: 200px;
    flex-direction: column;
    padding: 15px 10px;
    display: none;
    border-radius: 6px;
  }

  .nav-items.open {
    display: flex;
  }

  .navlink {
    font-size: 16px;
    padding: 10px 0;
  }

  .logout-btn {
    width: 100%;
  }
} 


/* 
@media (min-width: 601px) and (max-width: 900px) {
  .nav-toggle {
    display: block;
    margin-left: auto;
  }

  .nav-items {
    position: absolute;
    top: 70px;
    right: 45px;
    background: rgb(218, 218, 228);
    width: 220px;
    flex-direction: column;
    padding: 18px 12px;
     display: none; 
   border-radius: 6px;
  }

  .nav-items.open {
    display: flex;
  }

  .navlink {
    font-size: 17px;
  }
} 



 @media (min-width: 901px) and (max-width: 1204px) {
  .nav-logo a {
    font-size: 22px;
  }

  .navlink {
    font-size: 17px;
  }

  .nav-items {
    gap: 20px;
  }
}  */


